.div-spotsGallery {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(3, 1fr); /* 4 columns */
}

.div-SDA-grid {
  display: flex;
  justify-content: center;
}

.SDA-box {
  display: grid;
  grid-template-areas: 
    'spotImage'
    'information';
  width: 390px;
  grid-template-rows: 245px 60px;
  row-gap: 5px;
  margin: 5px
}

.SDA-Image {
  grid-area: 'spotImage';
  height: auto;
  border-radius: 15px;
}

.div-SDA-info {
  grid-area: "information";
  height: 100%;
}

.SDA-Location {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.SDA-Name {
  font-size: 13px;
}

.SDA-Price {
  font-size: 14px;
  display: flex;
  font-weight: 700;
}

.SDA-box > img {
  width: 390px;
  height: 245px;
  object-fit: cover; /* Ensures the image covers the container without stretching */
  object-position: center; /* Center the image within the container */
}

.div-SDA-info > span > p {
  margin: 0;
}

.SDA-icon {
  font-size: 12px;
  margin: 5px;
}

.SDA-Rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

