.Review-list {
  background-color: transparent;
  height: 275px;
  border-radius: 15px;
  width: 475px;
  max-width: 600px;
  padding: 20px;
  overflow-y: scroll ;
}

.Review-list::-webkit-scrollbar {
  width: 65px;
   background: transparent;
}
.Review-list::-webkit-scrollbar:hover {
cursor: pointer;
}




  .title {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    display: inline-block;
}
