.div-spot {
  display: grid; /* Activate grid layout */
  grid-template-areas:
    'Title'
    'Pictures'
    'Body';
  grid-template-rows: 50px auto 1fr; /* Define the heights of each row */
  grid-gap: 10px;
  height: 100vh; /* Set the container height to fill the viewport */
  margin: 0 30px 0 30px
}

.div-title {
  grid-area: 'Title';
  /* border: 1px solid black; */
  align-items: center;
}

.spotTitleName{
  margin: 0 0 7px 0;
}

.spotTitlePlace {
  margin: 7px 0 0 0;
  font-size: 15px;
}


/* ---- PICTURES ---- */

.div-pictures {
  grid-area: 'Pictures';
  height: 55vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "pic01 pic02 pic03"
    "pic01 pic04 pic05";
}

#picture-01 {
  grid-area: pic01;
}

#image-01 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#picture-02 {
  grid-area: pic02;
  
}
#picture-03 {
  grid-area: pic03;
  
}
#picture-04 {
  grid-area: pic04;
  
}
#picture-05 {
  grid-area: pic05;
  
}

.div-sideImage {
  object-fit: cover;
  margin: 1px;
}

.div-mainImage {
  object-fit: cover;
  margin: 1px;
}

/* ---- PICTURES ---- */


.div-body {
  grid-area: 'Body';
  /* border: 1px solid black; */
}

/* ---- SPOT BODY BUTTONS ---- */

.SD-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: rgb(211, 216, 220);
  width: 150px;
  height: 30px;
  border-radius: 5px;
  padding: 0;
}

.SD-reserveButton {
  width: 100%;
  height: 35px;
  border: 2px solid black;
  background-color: rgb(211, 216, 220);
  border-radius: 5px;
  margin: 15px 0 15px 0;
  font-size: 16px;
}

/* ---- SPOT BODY BUTTONS ---- */


/* ---- SPOT BODY ---- */

.SD-host {
  margin: 0;
}

.div-upperBody {
  display: flex;
  height: min-content;
  border-bottom: 2px solid black;
}

.div-upperBodyLeft {
  width: 65%;
}

.div-upperBodyRight {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-SD-buttons {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.div-spotReserve {
  width: 65%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  height: min-content;
  margin-right: 20px;
}

.div-spotReserveTop {
  display: flex;
  justify-content: space-between;
}

.spotReserve {
  margin: 0;
  display: flex;
  align-items: center;
}

.SR-price {
  font-size: 20px;
  font-weight: 700;
  margin-right: 2px;
}

.div-SRT-left {
  display: flex;
}

.div-SRT-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.SD-icon {
  margin: 0 10px 0 5px;
  color: rgb(249, 215, 65);
}

.SD-subscript {
  transform: translate(0, 2px);
}

.div-lowerBodyTitle {
  display: flex;
  align-items: center;
}

.LB-Reviews {
 font-size: 20px;
 margin-right: 5px;
}

.div-spotReview {
  border: 2px solid black;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
}

.SD-deleteReviewButton {
  margin-bottom: 5px;
}

.spotRating-divider {
  margin: 0 10px 0 0px;
  width: 2px;
  height: 20px;
  background-color: black;
}

.div-reviewTop {
  display: flex;
  justify-content: space-between;
  height: min-content;
}

.reviewTop {
  margin: 15px 0 5px 0;
}

.centered-DOT {
  font-size: 30px;
  margin: 5px;
  transform: translate(-10px, -8px);
}
/* ---- SPOT BODY ---- */


