.div-spot {
  display: grid; /* Activate grid layout */
  grid-template-areas:
    'Title'
    'Pictures'
    'Body';
  grid-template-rows: 40px 350px 1fr; /* Define the heights of each row */
  grid-gap: 10px; /* Optional: adds spacing between grid items */
  height: 100vh; /* Set the container height to fill the viewport */
}

.div-title {
  grid-area: 'Title';
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.div-pictures {
  grid-area: 'Pictures';
  /* border: 1px solid black; */
}

.div-body {
  grid-area: 'Body';
  /* border: 1px solid black; */
}

.div-spot > div > p, h2 {
  margin: 0;
}

.spot-mainImage {
  border-radius: 10px;
  height: 349px;
}
.review-btn{
  background-color: rgb(64, 185, 37);
  color: white;
  height: 40px;
  width: 80px;
  border-radius:10px ;
  margin-top: 30px;
  margin-left: 5px;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}

.review-btn:hover {
  cursor:pointer; /* Change cursor to grab on hover */
}
