ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin: 0 15px 0 15px;
}

.nav-profileButton {
  background-color: white;
}

a {
 text-decoration: none;
 color: black;
 font-family: 'Helvetica',sans-serif;
 font-size: 16px;
}

.logo {
  width: 50vw;
}

.div-nav {
  display: flex;
  width: 100vw;
}

.div-ul {
  width: 50vw;
}
