.div-input {
  border-bottom: solid black 2px;
  margin: 10px;
  width: 350px;
  height: 40px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.LoginForm {
  /* border: rgb(255, 255, 255) 2px solid; */
  border-radius: 10px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 44, 84, .778);
  box-shadow: 2px 2px 5px rgb(142, 142, 142);
}

.inputBox {
  width: 300px;
  height: 20px;
  font-size: 16px;
  background-color: rgba(35, 44, 84, 0);
  border: none;  
  color: black;
}

.div-button {
  margin-top: 20px;
  width: 350px;
  display: flex;
  justify-content: center;
}

.submitButton {
  background-color: white;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  border: solid black 2px;
  color: black;
}

.formLabel {
  position: absolute;
  font-family: arial;
  font-size: 13px;
  color: black;
  transform: translate(-120px, -20px)
}

.formIcons {
  color: black;
  font-size: 13px;
  transform: translateX(-163px);
}

#faLock {
  position: absolute;
}

#faUser {
  position: absolute;
}

input[type="password"]:focus {
  outline: none;
}

input[type="text"]:focus {
  outline: none;
}